<component name="libraryTable">
  <library name="log4j">
    <CLASSES>
      <root url="jar://D:/视频课程/互联网架构师课程/网络编程代码及资料/hyperic-sigar-1.6.4/sigar-bin/lib/log4j.jar!/" />
      <root url="jar://D:/视频课程/互联网架构师课程/网络编程代码及资料/hyperic-sigar-1.6.4/sigar-bin/lib/sigar.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>